@font-face {
    font-family: vagafont;
    src: url(fonts/ZombieTreats.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.containerWB h2,
#paragraphs p,
footer p,
.containerCTT h2,
#contact h2,
form button,
.containerCTT h3,
.endereco{
    font-family: vagafont, Times, serif;
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    height: 75px;
    background-color: white;
    color: black;
    font-family: vagafont, Times, serif;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    border: 1px solid;
}

header h1 {
    margin-left: 50px;
}

header nav{
    margin-right: 50px;
}

header nav li {
    display: inline;
    margin-left: 16px;
}

header a {
    text-decoration: none;
    color: black;
}

.container {
    background-image: url(imgs/background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100%;
    height: 720px;
}

.container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.container img {
    height: 400px;
    grid-column: 3 / span 6;
    grid-row: 2 / span 6;

}


.container > div {
    grid-column: 1 / span 7;
    grid-row: 8 / span 15;
}

.container p {
    text-align: center;
}

.containerWB {
    border: 1px black solid;
}

.containerWB img {
    height: 64px;
}

.containerWB h2 {
    font-family: vagafont, Times, serif;
    font-size: 64px;
    color: white;
    background-color: dimgrey;
    border: 1px solid white;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.containerWB ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}

.containerWB li {
    position: relative;
}

.links {
    font-family: vagafont, Times, serif;
    position: absolute;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.amazon {
    position: relative;
    left: -15px;
}

.luiza {
    position: relative;
    left: -27px;
}

.livre {
    position: relative;
    left: -54px;
}

.panini {
    position: relative;
    left: -24px;
}

.shopee {
    position: relative;
    left: 21px;
}

.faleconosco {
    position: relative;
    top: 10px;
    background-color: black;
    width: 350px;
    height: 260px;
}

#contact h2 {
    position: absolute;
    bottom: -380px;
    left: 20px;
    font-size: 32px;

}

.containerCTT {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 300px;
}

.containerCTT > h2 {
    position: absolute;
    font-size: 32px;
    top: -15px;
    left: 25px;
    
}

.containerCTT h3 {
    color: white;
    position: relative;
    top: 10px;    
    left: 110px;
}


form {
    display: flex;
    flex-direction: column;
    height: 250px;
    position: relative;
    left: 10px;
    top: 20px; 
}

form input,
form textarea,
form button {
    display: block;
    width: 310px;
    margin-bottom: 8px;
    padding: 8px;
}

textarea {
    resize: none;
}

button {
    border: none;
}

button:hover {
    background-color: black;
    color: white;
}

.social-mideas {
    background-color: black;
    justify-content: center;
}

.social-mideas h3 {
    position: relative;
    left: -4px;
}

.social-mideas img{
    height: 32px;
}

.social-mideas li {
    display: inline;
}

.social-mideas ul {
    position: relative;
    top: 30px;
}

.endereco {
    position: relative;
    right: 10px;
    display: grid;
    grid-template-rows: 30px 100%;
    flex-direction: column;
    color: white;
    justify-items: center;
}

.endereco h3{
    position: relative;
    justify-items: center;
}

.endereco p {
    grid-row: 2;
}

footer {
    display: inline;
    position: relative;
    top: 40px;

}

.foot p {
    background-color: black;
    color: white;
}
